@font-face {
    font-family: 'FiraSans-bold';
    src: url("/assets/fonts/FiraSans-Bold.woff2");

    font-family: 'FiraSans-medium';
    src: url("/assets/fonts/FiraSans-Medium.woff2");

    font-family: 'FiraSans-regular';
    src: url("/assets/fonts/FiraSans-Regular.woff2");
}

body {
    /* background-color: #e2e2e2; */
    font-family: 'FiraSans-regular', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 8px;
}

header {
    font-weight: 800;
    justify-content: space-around;
}

.navbar {
    color: #4149E1;
}

li {
    font-family: 'FiraSans-Bold';
    font-weight: bold;
}

.container {
    margin: 0 auto;
    padding-top: 20px;
    position:relative;
    text-align: center;
    width: 100%;
 }

 #clients {
     padding: 3rem;
 }

 #contact {
     padding: 3rem;
 }

 header {
    background-image: url('/assets/img/bg.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
  }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  header .intro-text .intro-heading {
    font-family: 'FiraSans-Bold', sans-serif;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
}



